In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("C://data/bank.csv",sep=";")

In [9]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [10]:
from sklearn.preprocessing import LabelEncoder

columns = ['job','education','marital','default','housing','loan','contact','month','poutcome','y']
le = LabelEncoder()
for column in columns:
    data[column]=le.fit_transform(data[column])

In [12]:
from sklearn.model_selection import train_test_split
X = data.drop('y',axis=1)
Y = data['y']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
model = LogisticRegression()
model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [16]:
confusion_matrix(Y_test,Y_pred)

array([[981,  20],
       [104,  26]], dtype=int64)

In [18]:

print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94      1001
           1       0.57      0.20      0.30       130

    accuracy                           0.89      1131
   macro avg       0.73      0.59      0.62      1131
weighted avg       0.87      0.89      0.87      1131

In [20]:
accuracy_score(Y_test,Y_pred)

0.8903625110521662

In [23]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [24]:
data['y'].unique()

array([0, 1])